<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewBag.Title
    </title>

    <link rel="stylesheet" href="~/Assets/css/normalize.css">
    <link rel="stylesheet" href="~/Assets/css/style.min.css">
    <link rel="stylesheet" href="~/Assets/css/font-awesome.css">
   

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Assets/js/materialize.min.js"></script>
</head>
<body class="body-login scrollbar">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper nav-green">
                <a href="/" class="brand-logo cursor left"><i class="material-icons">Home</i></a>
                <div class="right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </nav>
    </div>

    <div class="container body-content" style="padding-top:100px">
        @RenderBody()
    </div>

    <div class="col l12 footer" id="footer">
        <div class="row reset-margin">
            <div class="col l6 s6">
                <i id="website-copyright">@ViewBag.copyright</i>
            </div>
            <div class="col l6 s6 right-align">
                <i id="website-title">@ViewBag.name</i>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>!function (s, u, b, i, z) { var o, t, r, y; s[i] || (s._sbzaccid = z, s[i] = function () { s[i].q.push(arguments) }, s[i].q = [], s[i]("setAccount", z), r = ["widget.subiz.net", "storage.googleapis" + (t = ".com"), "app.sbz.workers.dev", i + "a" + (o = function (k, t) { var n = t <= 6 ? 5 : o(k, t - 1) + o(k, t - 3); return k !== t ? n : n.toString(32) })(20, 20) + t, i + "b" + o(30, 30) + t, i + "c" + o(40, 40) + t], (y = function (k) { var t, n; s._subiz_init_2094850928430 || r[k] && (t = u.createElement(b), n = u.getElementsByTagName(b)[0], t.async = 1, t.src = "https://" + r[k] + "/sbz/app.js?accid=" + z, n.parentNode.insertBefore(t, n), setTimeout(y, 2e3, k + 1)) })(0)) }(window, document, "script", "subiz", "acqwinzdkmvammcyeboe");</script>
    @RenderSection("scripts", required: false)
    <script src="~/Content/bootstrap/bootstrap/js/jquery-3.3.1.min.js"></script>
</body>
</html>
